{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
    <div class="container">
        <div id="form-main" >
            <div id="form-div">
                <div class ="container">
                    <div class="row">
                        <div class="col-sm">
                            <form action="/processing" method="POST" class="montform" id="reused_form" >
                            <p class="text">
                            <textarea name="message" class="feedback-input" id="comment" placeholder="Enter the text..."></textarea>
                            </p>
                        </form>
                        </div>
                        <div class="col-sm">
                            <div class="upload-btn-wrapper">
                                <button class="btn">Upload a file</button>
                                <input type="file" name="myfile" />
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                         <div class="submit">
                            <button type="submit" class="button-blue">CLICK HERE TO SUBMIT</button>
                            <div class="ease"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}